@import 'lightgallery/css/lightgallery';
@import 'lightgallery/css/lg-zoom';
@import 'lightgallery/css/lg-thumbnail';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Extatica";
    src: url("./fonts/Extatica-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-family: "Extatica";
    src: url("./fonts/Extatica-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-display: swap;
    font-family: "Extatica";
    src: url("./fonts/Extatica-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-display: swap;
    font-family: "Evolventa";
    src: url("./fonts/Evolventa-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-family: "Evolventa";
    src: url("./fonts/Evolventa-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }

  html {
    @apply font-ex font-medium bg-white text-black
  }

  body {
    @apply bg-milk
  }

  h1 {
    @apply font-ex font-normal text-8xl lg:text-10xl xl:text-12xl tracking-normal
  }

  h2 {
    @apply font-ex font-normal text-11xl tracking-normal
  }

  h3 {
    @apply font-ex font-normal text-10xl tracking-normal uppercase
  }

  h4 {
    @apply font-ex font-medium text-lg xs:text-xl md:text-2xl lg:text-3xl xl:text-5xl 2xl:text-7xl 3xl:text-9xl tracking-normal uppercase
  }

  h5 {
    @apply font-ex font-medium text-base xs:text-lg md:text-xl lg:text-2xl xl:text-4xl 2xl:text-6xl 3xl:text-8xl tracking-normal uppercase
  }

  h6 {
    @apply font-ex font-medium text-xl md:text-2xl lg:text-3xl xl:text-5xl 3xl:text-7xl tracking-normal uppercase
  }

  ul, ol {
    list-style: revert;
  }
}

@layer components {
  .t1 {
    @apply font-ex font-medium text-base lg:text-xl xl:text-2xl 2xl:text-6xl tracking-normal uppercase
  }

  .t1-lowercase {
    @apply font-ex font-medium text-base lg:text-xl xl:text-2xl 2xl:text-6xl tracking-normal
  }

  .t2 {
    @apply font-ex font-medium text-base lg:text-2xl 2xl:text-2xl 3xl:text-5xl tracking-normal uppercase
  }

  .t3 {
    @apply font-ex font-semibold text-xl md:text-2xl xl:text-4xl tracking-normal
  }

  /*font-weight: 600 (semibold)*/
  .t4 {
    @apply font-ex font-semibold text-xl lg:text-2xl 3xl:text-3xl tracking-normal uppercase
  }

  /*font-weight: 500 (medium)*/
  .t4-medium {
    @apply font-ex font-medium text-3xl tracking-normal uppercase
  }

  .t5 {
    @apply font-ex font-medium text-sm sm:text-base 2xl:text-lg 3xl:text-2xl tracking-normal uppercase
  }

  /*font-weight: 600 (semibold)*/
  .t6 {
    @apply font-ex font-semibold text-sm xl:text-xl tracking-normal
  }

  /*font-weight: 500 (medium)*/
  .t6-medium {
    @apply font-ex font-medium text-base xl:text-base 2xl:text-xl tracking-normal
  }

  /*font-weight: 400 (normal)*/
  .t6-normal {
    @apply font-ex font-normal text-xl tracking-normal
  }

  .t7 {
    @apply font-ev font-normal text-xxs xs:text-xs lg:text-sm 3xl:text-lg tracking-normal
  }

  .t8 {
    @apply font-ev font-normal text-xs md:text-sm 3xl:text-md tracking-normal
  }

  .t9 {
    @apply font-ev font-medium text-2xxs lg:text-sm 3xl:text-base tracking-normal
  }

  .t10 {
    @apply font-ev font-normal text-xxs sm:text-xs lg:text-sm tracking-normal
  }

  .t10-min {
    @apply font-ev font-normal text-2xxs sm:text-xxs lg:text-sm tracking-normal
  }

  /* font-weight: 700 (bold)
     font-family: Evolventa */
  .t11-bold {
    @apply font-ev font-bold text-xs tracking-normal
  }

  /* font-weight: 500 (medium)
     font-family: Extatica */
  .t11 {
    @apply font-ex font-medium text-xxs lg:text-xs tracking-normal
  }

  .t12 {
    @apply font-ev font-normal text-xxs tracking-normal
  }

  /* font-weight: 500 (medium)
     font-family: Extatica */
  .t13-medium {
    @apply font-ex font-medium text-2xxs tracking-normal
  }

  /*font-weight: 400 (normal)
   font-family: Evolventa */
  .t13 {
    @apply font-ev font-normal text-2xxs tracking-normal
  }

  .title-gutter {
    @apply mb-6 3xl:mb-16
  }

  .section-gutter {
    @apply my-10 xl:my-12 3xl:my-24
  }

  .section-gutter__custom {
    @apply my-6
  }

  .first-block-gutter {
    @apply mt-20 2xl:mt-28
  }
}
